In [5]:
# Chap_1 

import os
os.listdir()

['.ipynb_checkpoints', 'Harry Practice.ipynb', 'Untitled.ipynb']

In [8]:
# Chap_2

# 1

first_no=int(input("Enter a first no: "))
second_no=int(input("Enter a Second no: "))

add=first_no+second_no

print(f"The addition of {first_no} and {second_no} is: ",add)

Enter a first no: 2
Enter a Second no: 22
The addition of 2 and 22 is:  24

In [11]:
# Chap_2

# 2

first_no=int(input("Enter a first no: "))
second_no=int(input("Enter a Second no: "))

rem=first_no%second_no

print(f"When we devide {first_no} by {second_no} then, remainder is: ",rem)

Enter a first no: 3
Enter a Second no: 2
When we devide 3 by 2 then, remainder is:  1

In [15]:
# Chap_2

# 3

user = (input("Enter a number: "))

print(f"The type of {user} is: ", type(user))

Enter a number: syed Daud Ali
The type of syed Daud Ali is:  <class 'str'>

In [18]:
# Chap_2

# 4

first_no=int(input("Enter a first no: "))
second_no=int(input("Enter a Second no: "))

if first_no==second_no:
    print(f"{first_no} is equal to {second_no}")
elif first_no > second_no:
    print(f"{first_no} is greater than {second_no}")
else:
    print(f"{second_no} is greater than {first_no}")

Enter a first no: 3
Enter a Second no: 3
3 is equal to 3

In [22]:
# Chap_2

# 5

first_no=int(input("Enter a first no: "))

print(f"The square of {first_no} is: ",first_no**2)

Enter a first no: 9
The square of 9 is:  81

In [25]:
# Chap_2

# 6

first_no=int(input("Enter a first no: "))
second_no=int(input("Enter a Second no: "))

print(f"The average of {first_no} and {second_no} is: ",(first_no+second_no)/2)

Enter a first no: 2
Enter a Second no: 2
The average of 2 and 2 is:  2.0

In [26]:
# Chap_3

# 1

user=input("Enter a name: ")

print("Good Morning: ",user)

Enter a name: Syed Daud Ali
Good Morning:  Syed Daud Ali

In [32]:
# Chap_3

# 2

letter = '''Dear <|NAME|>,
Greetings from ABC coding house. I am happy to tell you about your selection
You are selected!
Have a great day ahead!
Thanks and regards,
Bill
Date: <|DATE|>d
'''

user=input("Enter Your name: ")
user1=input("Enter Date: ")

letter=letter.replace("<|NAME|>",user)
letter=letter.replace("<|DATE|>d",user)

print(letter)

Enter Your name: Syed DAud ALi
Enter Date: 12/23/2024
Dear Syed DAud ALi,
Greetings from ABC coding house. I am happy to tell you about your selection
You are selected!
Have a great day ahead!
Thanks and regards,
Bill
Date: Syed DAud ALi

In [35]:
# Chap_3

# 3

user=input("Enter String: ")

if "  " in user:
    print("Double Space is present in string")
else:
    print("Double space are not there")

Enter String: ds
Double space are not there

In [40]:
# Chap_3

# 4


user=input("Enter String: ")

if "  " in user:
    user=user.replace("  "," ")
    print("Double Spaces has been removed: ",user)
else:
    print("There are no double spaces in the string!",user)

Enter String: asdf  asdf asdf
Double Spaces has been removed:  asdf asdf asdf

In [44]:
# Chap_3

# 5


letter = "Dear Harry, \n \tThis Python course is nice! \nThanks!"
print(letter)

Dear Harry,
 	This Python course is nice!
Thanks!

In [45]:
# Chap_4

# 1


f1 = input("Enter Fruit Number 1: ")
f2 = input("Enter Fruit Number 2: ")
f3 = input("Enter Fruit Number 3: ")
f4 = input("Enter Fruit Number 4: ")
f5 = input("Enter Fruit Number 5: ")
f6 = input("Enter Fruit Number 6: ")
f7 = input("Enter Fruit Number 7: ")

lis = [f1,f2,f3,f4,f5,f6,f7]
lis

Enter Fruit Number 1: a
Enter Fruit Number 2: b
Enter Fruit Number 3: c
Enter Fruit Number 4: d
Enter Fruit Number 5: e
Enter Fruit Number 6: f
Enter Fruit Number 7: g

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [66]:
# Chap_4

# 2

m1 = int(input("Enter Marks for Student Number 1: "))
m2 = int(input("Enter Marks for Student Number 2: "))
m3 = int(input("Enter Marks for Student Number 3: "))
m4 = int(input("Enter Marks for Student Number 4: "))
m5 = int(input("Enter Marks for Student Number 5: "))
m6 = int(input("Enter Marks for Student Number 6: "))

lis=[m1,m2,m3,m4,m5,m6]
lis.sort()
lis

Enter Marks for Student Number 1: 4
Enter Marks for Student Number 2: 523
Enter Marks for Student Number 3: 45235
Enter Marks for Student Number 4: 23
Enter Marks for Student Number 5: 234532345
Enter Marks for Student Number 6: 22

[4, 22, 23, 523, 45235, 234532345]

In [70]:
# Chap_4

# 3

a=(232,34,124,1)

a[0]=211

TypeError: 'tuple' object does not support item assignment

In [74]:
# Chap_4

# 5

m1 = int(input("Enter Marks for Student Number 1: "))
m2 = int(input("Enter Marks for Student Number 2: "))
m3 = int(input("Enter Marks for Student Number 3: "))
m4 = int(input("Enter Marks for Student Number 4: "))

lis = [m1,m2,m3,m4]
add = lis[0]+lis[1]+lis[2]+lis[3]
print(add)

Enter Marks for Student Number 1: 2
Enter Marks for Student Number 2: 3
Enter Marks for Student Number 3: 32
Enter Marks for Student Number 4: 2
39

In [73]:
# Chap_4

# 5


a=(7,0,8,0,0,9)
a=a.count(0)
print(a)

3

In [76]:
# Chap_5

# 1

dic=({"yakeen":"Trust","piyar":"Love","kam":"Work"})

user=input("Enter a word: ")

mean=dic.get(user)

print(f"The meaning of {user} is: ",mean)

Enter a word: piyar
The meaning of piyar is:  Love

In [82]:
# Chap_5

# 2

f1 = input("Enter Fruit Number 1: ")
f2 = input("Enter Fruit Number 2: ")
f3 = input("Enter Fruit Number 3: ")
f4 = input("Enter Fruit Number 4: ")
f5 = input("Enter Fruit Number 5: ")
f6 = input("Enter Fruit Number 6: ")
f7 = input("Enter Fruit Number 7: ")

lis = {f1,f2,f3,f4,f5,f6,f7}
print(lis)

Enter Fruit Number 1: 32
Enter Fruit Number 2: 23
Enter Fruit Number 3: 32
Enter Fruit Number 4: 32
Enter Fruit Number 5: 1
Enter Fruit Number 6: 13
Enter Fruit Number 7: 2
{'2', '32', '23', '13', '1'}

In [84]:
# Chap_5

# 3

s = {18, "18", 18.1}
print(s)

{18, 18.1, '18'}

In [86]:
# Chap_5

# 4

ss=set()
ss.add(20)
ss.add("20")
ss.add('20.0')
ss

{'20', 20, '20.0'}

In [88]:
# Chap_5

# 5

t={}
type(t)

dict

In [91]:
# Chap_5

# 6,7

f1 = input("Enter Fruit Number 1: ")
f2 = input("Enter Fruit Number 2: ")
f3 = input("Enter Fruit Number 3: ")
f4 = input("Enter Fruit Number 4: ")

dic={"Daud":f1,"wasif":f2,"Tayyab":f3,"Haider":f4}
print(dic)

Enter Fruit Number 1: 2
Enter Fruit Number 2: 2
Enter Fruit Number 3: 4
Enter Fruit Number 4: 1
{'Daud': '2', 'wasif': '2', 'Tayyab': '4', 'Haider': '1'}

In [92]:
# Chap_5

# 8

f1 = input("Enter Fruit Number 1: ")
f2 = input("Enter Fruit Number 2: ")
f3 = input("Enter Fruit Number 3: ")
f4 = input("Enter Fruit Number 4: ")

dic={"Daud":f1,"Daud":f2,"Tayyab":f3,"Haider":f4}
print(dic)

Enter Fruit Number 1: 2
Enter Fruit Number 2: 2
Enter Fruit Number 3: 2
Enter Fruit Number 4: 2
{'Daud': '2', 'Tayyab': '2', 'Haider': '2'}

In [8]:
# Chap_6

# 1

f1 = int(input("Enter Fruit Number 1: "))
f2 = int(input("Enter Fruit Number 2: "))
f3 = int(input("Enter Fruit Number 3: "))
f4 = int(input("Enter Fruit Number 4: "))

if f1>f2:
    num1=f1
else:
    num1=f2
print("Large no. from 1st program ",num1)
if f3>f4:
    num2=f3
else:
    num2=f4
print("Large no. from 2nd program ",num2)

if int(num1)>int(num2):
    print(num1)
else:
    print(num2)

Enter Fruit Number 1: 23
Enter Fruit Number 2: 34
Enter Fruit Number 3: 25
Enter Fruit Number 4: 3523425
Large no. from 1st program  34
Large no. from 2nd program  3523425
3523425

In [20]:
# Chap_6

# 2

f1 = int(input("Enter MArks of student 1: "))
f2 = int(input("Enter MArks of student 2: "))
f3 = int(input("Enter MArks of student 3: ")) 

total=(f1+f2+f3)/3

if (f1 or f2 or f3) <33:
    print("Fail because he got less than 33 marks in one of his subject!")
    
elif total<40:
    print("He is Failed because his average is less than 40%")
    
else:
    print("Congratulations! His marks are greater than 33 in every subject and his average is also above 40%")

Enter MArks of student 1: 34
Enter MArks of student 2: 45
Enter MArks of student 3: 45
Congratulations! His marks are greater than 33 in every subject and his average is also above 40%

In [23]:
# Chap_6

# 3

a=input("Enter a string! ")
c=["make a lot of money",,]

if "make a lot of money" in a:
    print("That is a spam")
    
elif "click this" in a:
    print("That is a spam")
    
elif "subscribe this" in a:
    print("That is a spam")
    
else:
    print("That is not a spam mail!")

Enter a string! he says to me that make a lot of money
That is a spam

In [24]:
# Chap_6

# 4

a=input("Enter a string! ")

if len(a)>=10:
    print("String contains more than 10 characters! ")

else:
    print("String is less than 10 characters")

Enter a string! jfsdaf
String is less than 10 characters

In [37]:
# Chap_6

# 5

a=input("Enter a string! ")

c=["make a lot of money","click this","subscribe this"]

if a in c:
        print("That word is present is list!")
        
else:
        print("That word is not present in list")

Enter a string! sdfg
That word is not present in list

In [42]:
# Chap_6

# 6

a=input("Enter a string! ")
a=a.lower()
if "daud" in a:
    print("He is talking about Daud")
else:
    print("He is not talking about Daud")

Enter a string! asddauasd
He is not talking about Daud

In [45]:
# Chap_6

# 7


marks = int(input("Enter Your Marks\n"))

if marks>=90:
    grade = "Ex"
elif marks>=80:
    grade = "A"
elif marks>=70:
    grade = "B"
elif marks>=60:
    grade = "C"
    
elif marks>=50:
    grade = "D" 
else:
    grade = "F"

print("Your grade is " + grade)

Enter Your Marks
54
Your grade is D

In [48]:
# Chap_7

# 1

a=int(input("Enter a number! "))

for i in range(1,11):
    print(a,"X",i,"=",i*a)

Enter a number! 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [50]:
# Chap_7

# 2

a=int(input("Enter a number! "))
b=1
while b<=10:
    print(a,"X",b,"=",i*a)
    b+=1

Enter a number! 5
5 X 1 = 50
5 X 2 = 50
5 X 3 = 50
5 X 4 = 50
5 X 5 = 50
5 X 6 = 50
5 X 7 = 50
5 X 8 = 50
5 X 9 = 50
5 X 10 = 50

In [51]:
# Chap_7

# 3

a=["Daud","King","Swad","Dua"]

for i in a:
    if i.startswith("D"):
        print("Good Morning, ",i)

Good Morning,  Daud
Good Morning,  Dua

In [67]:
# Chap_7

# 4

'''a=0
for i in range(1,6):
    print(i)
    a+=i
    
print(a)'''

c=1
total=0
while c<=5:
    print(c)
    total+=c
    c+=1
   
    
    
print(total)

1
2
3
4
5
15

In [8]:
# Chap_7

# 5

u=int(input("Enter a no.! "))
fact=1
for i in range(1,u+1):
    fact=fact*i
print(fact)

Enter a no.! 5
120

In [23]:
# Chap_7

# 6

for i in range(1,4):
    print('*'*i)

*
**
***

In [39]:
# Chap_7

# 7

n=3

for i in range(1,7,2):
    print('*' * n-i)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [34]:
# Chap_7

# 8

t=5
for i in range(10,0,-1):
    print(t,"X",i,"=",i*t)

5 X 10 = 50
5 X 9 = 45
5 X 8 = 40
5 X 7 = 35
5 X 6 = 30
5 X 5 = 25
5 X 4 = 20
5 X 3 = 15
5 X 2 = 10
5 X 1 = 5

In [48]:
# Chap_7

# 9
prime =True
num=int(input("Enter a number! "))
for i in range(2,num):
    if num%i==0:
        prime = False
        break
if prime:
    print("Its a prime no.")
else:
    print("Its not a prime no.")

Enter a number! 19
Its a prime no.

In [54]:
user=int(input("Enter a number! "))
prime=True
for i in range(2,num):
    
    if user%i==0:
        prime = False
        break
if prime:
    print("Its a prime no")
else:
    print("Its not a prime no.! ")

Enter a number! 9
Its not a prime no.!

In [59]:
# Chap_8

# 1

def gratest(a,b,c):
    if a > (b and c):
        print(f"{a} is greater")

    elif b > (a and c):
        print(f"{b} is greater")

    else:
        print(f"{c} is greater")
        
gratest(34,423,1)

34 is greater

In [72]:
a,b,c=11,4,45

if a>b:
     a1=a
else:
    a1=b

if a1>c:
    print(a1)
else:
    print(c)

45