In [39]:
# Output ways

display()
print()

In [48]:
# String and No. print

#    '' and "" will be consider same but ''' ''' , """ """ for multi line comments

print('Syed Daud Ali')
print("Syeddaudali")
print('''Yes!

No!''')


print(786)
print(65.55)

Syed Daud Ali
Syeddaudali
Yes!

No!
786
65.55

In [49]:
# Versoion

!python --version

Python 3.8.8

In [50]:
# Comments


""" jay shah """


'''sdf'''
print()

In [51]:
# Variable storing data

x=6
y=4.5
z="Daud King"

print(x)
display(y)
print(z)

6

4.5

Daud King

In [53]:
# Case Sensitive

a=5
A=6
display(a)
display(A)

5

6

In [59]:
# varible assigning rules: 0-9 , a-z , _

#correct ways
rohit = 4
_rohit = 5
_45 = 4

#wrong ways

'''
2gy = 6
rohit _ = 6
'''
print()

In [71]:
# Multiple Values to Mutiple Varibles

x,y,z = "syed" , "Daud" , " Ali"

print(x+z)

# Mutiple Values to Single Varible

x=y=z= "King"
print(y)

#Unpack a Collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x,y,z)

syed Ali
King
apple banana cherry

In [112]:
# Global Varibles 

fruit="Orange and Mangoes"

def abc():
    print("using global variable: ",fruit)
    
abc() 

#-------------------------------------------------

# Local Varible

def abc1():
    x1 = "899"
    print("It is a local variable",x1)  
abc1()

#-----------------------------------------------------

# global Keyword

def abc2():
    global yy
    yy = 677
    print("using within function: ",yy) 
    
abc2()

print("using without function: ",yy)

using global variable:  Orange and Mangoes
It is a local variable 899
using within function:  677
using without function:  677

In [133]:
# Data Types

#Variables can store data of different types, and different types can do different things

#str
a="syed"

#int
b=5

#float
c=6.5

#complex
d=5j+4+c

#list
e=["A",45,5j+6]

#tuple
f=("B",54,7.8,4j)

#dictionary
g={"a":4,"b":6}

#set
h={"Daud",56,5.77}

#range
g=range(8)

In [146]:
# Numbers

a=4
b=6.6
c=4e2 # 4 X 10X 10
print(a,b,c)

# random number

import random
g=random.randint(3,6)
g

4 6.6 400.0

5

In [52]:
# Type casting

x = 6
y = 36
z = 3.6
a = 234

print(type(x))
print(type(z))

print(str(x))
print(float(y))
print(int(z))

<class 'int'>
<class 'float'>
6
36.0
3

In [164]:
# String

a = "Ali"
b = '''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

Twinkle, twinkle, little star,
How I wonder what you are! '''

#Strings are Arrays
display(b[0:7])

#Looping Through a String
for x in a:
    print(x)

#String Length
display(len(b))

#check string
if "I" in b:
    print("yes")

'Twinkle'

A
l
i

172

yes

In [177]:
#slicing

a = "syeddaudali"
b = '''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

Twinkle, twinkle, little star,
How I wonder what you are! '''

display(a[:])
display(a[:5])
display(a[4:8])
display(a[6:])

'syeddaudali'

'syedd'

'daud'

'udali'

In [199]:
# Modify Strings

a = " syedDAUDali "

#Upper Case
display(a.upper())

#Lower Case
display(a.lower())

#Remove Whitespace --- from begining and end
display(a.strip())

#Replace String
b = "Syed Ali Daud Ali King Ali"
display(b.replace("Ali","Shahzada"))

#split String
display(b.split("Ali"))

#concatenation
display(a+b)

# Output Varible 
a,b=4,6
print(f"The sum of {a} and {b} is: ",a+b)

' SYEDDAUDALI '

' syeddaudali '

'syedDAUDali'

'Syed Shahzada Daud Shahzada King Shahzada'

['Syed ', ' Daud ', ' King ', '']

' syedDAUDali Syed Ali Daud Ali King Ali'

The sum of 4 and 6 is:  10

In [222]:
#Escape Characters \t , \n , \\=\ , \'= '

print('Ali \t syed \n high \\ yellow \'ghj\' ')

Ali 	 syed
 high \ yellow 'ghj'